*{
    margin: 0;
    background-color: rgb(218, 220, 219);
}
#name{
width: 100%;
height: 20%;
display: flex;
justify-content: center;
}

nav{
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    background-color: #ff9800;
    padding: 10px;
    font-size: 18px;
}

.nav {
    width: 100vw;
    display: flex;
    background-color: #ff9800;;
    justify-content: space-evenly;
    z-index: 10;
}

.nav-button {
    background-color: #ff9800;
}

.button{
    border: 0;
    background-color: #ff9800;
}

.bigButton{
width: 12vw;
height: 3vw;
}

.center{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center
}
.tabs {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.tab input[type="radio"] {
    display: none;
}

.tab-title {
    display: inline-block;
    padding: 5px 10px;
    font-family: 'Bradley Hand', 'Times New Roman', Times, serif;
    border-bottom: none;
}
.tab-title:hover {
    cursor: pointer;
}

.tab-content {
    position: absolute;
    padding: 10px;
    left: 0;
    width: calc(100% - 20px);
    display: none;
}

.tab :checked+.tab-title {
    position: relative;
    top: 1px;
    z-index: 0;
}

.tab :checked~.tab-content {
    display: block;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}


#myChart{
    grid-area: 1/1/2/2;
   
}
#myListPr{
    grid-area: 1/2/2/3;

}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: rgb(126, 126, 126);
    z-index: 10;
}

#contact {
    display: flex;
    justify-content: center;
    font-family: 'Doto',Georgia, 'Times New Roman', Times, serif;
}

.button1 {
    border: 0;
    background-color: rgb(109, 109, 109);
    border-radius: 5px;
}

.button1:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: inset;
}