#product-container {
    display: grid;
    justify-items: center;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 2em;
}

.product {
    border: solid 5px #e55235cf;
    border-radius: 1em;
    display: grid;
    justify-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    width: 16em;
    height: 22em;
}

.productInCart {
    border: solid 5px #e55235cf;
    border-radius: 1em;
    display: grid;
    justify-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    width: 16em;
    height: 22em;

    & button {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    button:hover {
        background-color: #e55235cf;
        box-shadow: 0px 15px 20px #e55235cf;
        color: #fff;
        transform: translateY(-7px);
    }

    button:active {
        transform: translateY(-1px);
    }
}

#cart-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#total-price-container {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    color: #fff;
    background: linear-gradient(90deg, #fc4925, #f6a78fc4);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.buttonsCart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

#search-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

* {
    margin: 0;
    /* background-color: rgb(255, 255, 255); */
}

body {
    margin: 0;
    padding: 0;
}

.nav-container {
    border-top: 2px solid #e55235cf;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    direction: rtl;
    box-shadow: 1px 10px 10px 0px #e55235cf;
}

.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e55235cf;
    background: #ffffff;
    box-shadow: 3px 3px #e55235cf;
    cursor: pointer;
    margin: 35px 0;

}

.nav-link:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.nav-title {
    margin: 0;
    font-size: 1.8rem;
    color: #000000;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
    font-family: 'Assistant', sans-serif;
}

.header-div {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loader {
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 35px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    flex-direction: row-reverse
}

.loader p {
    margin-left: 10px;
}

.words {
    overflow: hidden;
    position: relative;
}

.words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--bg-color) 10%,
            transparent 30%,
            transparent 70%,
            var(--bg-color) 90%);
    z-index: 20;
}

.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: white;
    animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
    10% {
        -webkit-transform: translateY(-102%);
        transform: translateY(-102%);
    }

    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    35% {
        -webkit-transform: translateY(-202%);
        transform: translateY(-202%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-302%);
        transform: translateY(-302%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-402%);
        transform: translateY(-402%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}

.about-links a {
    font-size: 20px;
    margin-left: 25px;
    color: white;
}

.back-home a {
    text-decoration: none;
    color: white;
    position: relative;
}

.back-home a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.back-home a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header {
    background-color: #e55235cf;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.header .logo {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.global-nav {
    display: flex;
    justify-content: center;
}

.fancy {
    background-color: transparent;
    border: 2px solid #e55235cf;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    padding: 1em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 12px;
}

.fancy::before {
    content: " ";
    width: 1rem;
    height: 2px;
    background: #e55235cf;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #e55235cf;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e55235cf;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e55235cf;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: #e55235cf;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    /* Use 100% of the viewport width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e55235cf;
    padding: 0.5rem 1rem;
    /* Add some padding to give space */
    box-sizing: border-box;
    /* Ensure padding is included in the width calculation */
}

/* the button תוסיף לסל  */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-53 {
    -webkit-tap-highlight-color: transparent;
    background-color: #e55235cf;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.btn-53:disabled {
    cursor: default;
}

.btn-53:-moz-focusring {
    outline: auto;
}

.btn-53 svg {
    display: block;
}

.btn-53 [hidden] {
    display: none;
}

.btn-53 {
    border: 1px solid;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;
}

.btn-53 .original {
    background: #fff;
    color: #e55235cf;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
    transform: translateY(100%);
}

.btn-53 .letters {
    display: inline-flex;
}

.btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
    transform: translateY(15px);
}

.btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
    transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
    transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
    transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
    transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
    transition-delay: 0.5s;
}

/* input design */
.input-group {
    display: flex;
    gap: 10px;
    position: relative;
    padding: 7px 0 0;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 2px;
    justify-content: flex-end;
}

.input-text {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #7f7f7f;
    border-radius: 0 !important;
    outline: 0;
    font-size: 17px;
    color: #7f7f7f;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    direction: rtl;
    text-align: right;
}

.input-text::placeholder {
    color: transparent;
}

.input-text:placeholder-shown~.input-text-label {
    font-size: 17px;
    cursor: text;
}

.input-text-label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #7f7f7f;
    pointer-events: none;
}

.input-text:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to left, #e55235cf);
    border-image-slice: 1;
}

.input-text:focus~.input-text-label {
    color: #e55235cf;
}

.input-text:not(:placeholder-shown)~.input-text-label,
.input-text:focus~.input-text-label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    font-weight: 700;
    top: -17px;
}

.input-text:required,
.input-text:invalid {
    box-shadow: none;
}

#source-select {
    border: solid 2px #e55235cf;
    border-radius: 1em;
    display: grid;
    justify-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.totalPriceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.styled-button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    color: #fff;
    background: linear-gradient(90deg, #fc4925, #f6a78fc4);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;

}

.styled-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: left 0.5s ease-in-out;
    z-index: 0;
}

.styled-button:hover::before {
    left: 200%;
}

.styled-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.styled-button:active {
    transform: scale(1.05);
    background: linear-gradient(90deg, #e55235cf, #f6a78fc4);
}

.styled-button span {
    position: relative;
    z-index: 1;
}

.button-buy-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.totalPriceContainer {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    color: #fff;
    background: linear-gradient(90deg, #fc4925, #f6a78fc4);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;

}

.button-up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px #e55235cf;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;

    position: fixed;
    left: 0.5em;
    bottom: 3.5em;
    z-index: 5;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button-up:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #e55235cf;
    align-items: center;
  }
  
  .button-up:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button-up::before {
    position: absolute;
    bottom: -20px;
    content: "בחזרה למעלה";
    color: white;
    font-size: 0px;
  }
  
  .button-up:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }
  

/* עיצוב לטאבלטים ומסכים בגודל בינוני */
@media (max-width: 1024px) {
    #product-container {
        grid-template-columns: 1fr 1fr;
        /* 2 מוצרים בשורה */
    }

    .product {
        width: 14em;
        /* הקטן את גודל המוצר */
        height: 20em;
    }
}

/* עיצוב לטלפונים ניידים ומסכים קטנים */
@media (max-width: 768px) {
    #product-container {
        grid-template-columns: 1fr;
        /* מוצר אחד בשורה */
    }

    .product {
        width: 90%;
        /* התאמה לרוחב המסך */
        height: auto;
        /* גובה דינמי */
    }

    .nav-container {
        flex-direction: column;
        /* ערימה אנכית */
        align-items: center;
        text-align: center;
    }

    .nav-link {
        margin: 10px 0;
        /* ריווח בין הקישורים */
    }

    .footer {
        text-align: center;
        gap: 10px;
        position: relative;
        top: 1em;
    }
}
